<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
          <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": "t:sections.rich-text.name",
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "t:sections.rich-text.settings.section_title.label",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.rich-text.settings.text.label",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.rich-text.settings.text_size.label",
      "default": "medium",
      "options": [
        {
          "label": "t:sections.rich-text.settings.text_size.options__1.label",
          "value": "small"
        },
        {
          "label": "t:sections.rich-text.settings.text_size.options__2.label",
          "value": "medium"
        },
        {
          "label": "t:sections.rich-text.settings.text_size.options__3.label",
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "category": "t:sections.rich-text.presets.category"
    }
  ]
}
{% endschema %}
